EXPO_PUBLIC_SUPABASE_URL=https://fwrysuahhxvncwnvamze.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=COLE_A_CHAVE_PUBLICAVEL_DO_PROJETO_LISTE_E_COMPRE
EXPO_PUBLIC_WEB_API_URL=https://listeecompre.vercel.app
